---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About SpaceX Launches🚀">
  <main>
    <h1>About</h1>
    <p>
      SpaceX designs, manufactures and launches advanced rockets and spacecraft.
      The company was founded in 2002 to revolutionize space technology, with
      the ultimate goal of enabling people to live on other planets.
    </p>
  </main></Layout
>
