---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Launches from "../components/Launches.astro";
---

<Layout title="Welcome to SpaceX Launches🚀">
  <main class="m-8">
    <Launches />
  </main>
</Layout>
