---
import Layout from "../layouts/Layout.astro";
import Launches from "../components/Launches.astro";
---

<Layout title="Welcome to SpaceX Launches🚀">
    <main class="flex flex-col w-[80%] gap-y-8 justify-center items-center content-center">
        <section>
            <Launches page={-1} order="asc" />
        </section>
    </main>
</Layout>